@font-face {
    src: url(/CSS/fonts/Raleway/static/Raleway-Regular.ttf);
    font-family: 'Raleway';
    font-style: regular;
} 

@font-face {
    font-family: 'Raleway';
    src: url(/CSS/fonts/Raleway/static/Raleway-Bold.ttf);
    font-style: bold;
}
