@font-face {
    src: url(/fonts/Raleway/static/Raleway-Light.ttf);
    font-family: 'Raleway';
    font-style: regular;
} 

@font-face {
    src: url(/fonts/Raleway/static/Raleway-Bold.ttf);
    font-family: 'Raleway';
    font-style: bold;
}
